<h2>Preview Project</h2>
<p><a href="http://{{ host }}/preview/side/{{ id }}?title={{ title }}" target="_blank">Preview in Article.</a></p>
<p><a href="http://{{ host }}/preview/stream/{{ id }}?title={{ title }}" target="_blank">Preview in Stream.</a></p>
<p><a href="http://{{ host }}/preview/full/{{ id }}?title={{ title }}" target="_blank">Preview in full width.</a></p>