<h2>Preview Project</h2>
<p><a href="http://{{ host }}/preview/side/{{ id }}" target="_blank">Preview in Article.</a></p>
<p><a href="http://{{ host }}/preview/stream/{{ id }}" target="_blank">Preview in Stream.</a></p>
<p><a href="http://{{ host }}/preview/full/{{ id }}" target="_blank">Preview in full width.</a></p>